<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.file.dao.HistoryDao">
    <resultMap id="HistoryResult" type="History">
        <id property="hid" column="hid"/>
        <result property="huid" column="huid"/>
        <result column="hoid" property="hoid"/>
        <result column="type" property="type"/>
        <result column="filepath" property="filepath"/>
        <result column="uptime" property="uptime"/>
        <result column="filesize" property="filesize"/>
        <result column="score" property="score"/>
    </resultMap>
    <insert id="insertDataByEntity" parameterType="com.system.file.entity.History">
        INSERT INTO history( huid, hoid, type, filepath, uptime, filesize,score,osid)
        VALUES ( #{huid}, #{hoid}, #{type}, #{filepath}, #{uptime}, #{filesize}, #{score},#{osid})
    </insert>

    <select id="getUpListByUID" parameterType="int" resultType="History">
        SELECT hid, huid, hoid, type, filepath, uptime, filesize,score,osid
        FROM history
        WHERE huid = #{huid} order by osid asc
    </select>

    <delete id="delEntityByHID" parameterType="int">
        DELETE
        FROM history
        WHERE hid = #{delHid}
    </delete>
    <delete id="delEntityByHoId" parameterType="int">
        DELETE
        FROM history
        WHERE hoid = #{hoid}
    </delete>
    <select id="getEntityByHID" parameterType="int" resultType="History">
        SELECT hid, huid, hoid, type, filepath, uptime, filesize,score,osid
        FROM history
        WHERE hid = #{hid} order by osid asc
    </select>

    <select id="findHuidExists" parameterType="map" resultType="History">
        SELECT hid, huid, hoid, type, filepath, uptime, filesize,score
        FROM history
        WHERE huid = #{huid}
          and hoid = #{hoid}
    </select>

    <update id="upHistoryData" parameterType="History">
        UPDATE history
        SET type     = #{type},
            filepath = #{filepath},
            uptime   = #{uptime},
            filesize = #{filesize},
            score = #{score},
            osid = #{osid}
        WHERE hid =
              #{hid}
    </update>
    <update id="mark" parameterType="History">
        UPDATE history
        SET score = #{score}
        WHERE hid =  #{hid}
    </update>
    <select id="findFileListByHoid" parameterType="int" resultType="History">
        SELECT hid, huid, hoid, type, filepath, uptime, filesize, score,osid
        FROM history
        WHERE hoid = #{hoid} order by osid asc
    </select>
</mapper>